.google-map-container {
    height: 500px;

    &.map-modal {
        height: 200px;
    }

    .vue-map-container {
        width: 100%;
        height: inherit;
    }
}

.modal-backdrop {
    opacity: 0.75;
}
