.table .card {
    margin-bottom: 0 !important;
}

.table.table-scrollable {
    tbody {
        display: block;
        height: 300px;
        overflow-y: scroll;
    }

    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}
